@import url("styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
  }
  
.container__botao:checked ~ .lista-menu {
    display: block;
  }

  .lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: var(--branco);
}