.banner {
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
  }

  .banner__titulo {
    font-size: 18px;
    font-weight: 700;
  }

  .banner__texto {
    font-weight: 500;
    margin: 1em 0;
  }

  .banner__pesquisa {
    background-color: transparent;
    border: 1px solid var(--branco);
    color: var(--branco);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
  }

  .banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../img/Vector.png") no-repeat;
    background-position: 1em;
  }
  .tópicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
  }
  .tópicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
  }
  .tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tópicos__titulo {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
  }
  .tópicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tópicos__item {
    margin: 2em 0.5em;
}
.tópicos__link {
  color: var(--branco);
  padding: 1em;
  background-color: var(--laranja);
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}
.contato {
  background-color: var(--branco);
  padding: 1em;
}
.contato__titulo,
.contato__texto {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.contato__titulo {
  font-size: 18px;
  font-weight: 500;
}
.contato__texto {
  font-weight: 300;
  margin: 1em 0;
}
.contato__email {
  padding: 1em;
  border: 1px solid var(--azul);
  border-radius: 24px;
  width: 90%;
  color: var(--azul);
}
.contato__email::placeholder {
  font-family: var(--fonte-principal);
  color: var(--azul);
  background: url("../img/Email.svg") no-repeat;
  padding-left: 2em;
}
